* {
    font-family: 微軟正黑體;
    color: black;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
    color:rgb(88, 50, 0);
}

body {
    background: url("../images/home_page_2_2.jpg");
    background-repeat: no-repeat;
    background-color: rgb(255, 211, 146);
}




h1 {
    text-align: center;
    text-decoration: underline;
}

h6{
    margin-top:15px;
    font-weight: 900;
}

td{
    text-align: center;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
    max-width: 300px;
}

th{
    vertical-align: middle;
}

td{
    width:200px;
    vertical-align: middle;
}

audio{
    text-decoration: none;
}




#tabs {
    background-image: url("../images/home_page_3.jpg");
    height: 900px;
}


#tabs-1{
    font-weight: 800;
}
#tabs-2{
    font-size:70%;
    padding:10px;
}




.skill_img{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.container{
    background: url("")
}


#alfyn{
    font-size: 70%;
    
}

.alfyn{
    background-color: cornsilk;
    border-radius:9px;
    text-align: center;
    border:1px double darkgoldenrod;
    margin-bottom: 10px;
}





 
.slider {
    clear: both;
    padding: 0;
    margin: 0;
    z-index: 0;
    clear: both;
    display: block;
}