* {
    font-family: 微軟正黑體;
    color: black;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
    color:rgb(88, 50, 0);
}

body {
    background: url("../../images/home_page_2_2.jpg");
    margin:0px;
    padding:0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 211, 146);
    
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h6{
    margin-top:15px;
    font-weight: 900;
}

th{
    vertical-align: middle;
}

audio{
    text-decoration: none;
}


td.tvr{
    text-align: center;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
    max-width: 300px;
    vertical-align: middle;
}

div.tvr{
    text-align: center;
    padding:10px 60px;
}


#topbar{
    text-align: right;
    border:1px solid rgb(5, 2, 2);
    height: 31px;    
    margin-top:0px;
    

    background: linear-gradient(rgb(255, 211, 146),rgba(199, 106, 0, 0.541));
}


#tabs {
    background-image: url("../../images/home_page_3.jpg");
    height: 900px;
}


#tabs-1{
    font-weight: 800;
}
#tabs-2{
    font-size:70%;
    padding:10px;
}




.skill_img{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.container{
    background: url("")
}


#alfyn{
    font-size: 70%;
    
}

.alfyn{
    background-color: cornsilk;
    border-radius:9px;
    text-align: center;
    border:1px double darkgoldenrod;
    margin-bottom: 10px;
}

 
.slider {
    clear: both;
    padding: 0;
    margin: 0;
    z-index: 0;
    clear: both;
    display: block;
}






/*pnform css*/
div.pn{
    padding: 10px 20px;
}

label.note1 {
    font-size: 11px;
}
form {
    margin-left: 2px;
    background-image: url("../../images/home_page_3.jpg");
    border-radius: 10px;
    border:3px double rgb(75, 42, 0);
}
input{
    border-radius: 3px;
}
select{
    border-radius: 3px;
}
label.error_msg{
    color:red;
    font-style:italic;
    font-size:12px;
}

#consent{
    border: 2px solid black;
    background: linear-gradient(rgb(255, 211, 146),rgba(199, 106, 0, 0.541));
}

#consent_page{
    margin: 20px 50px;
    padding: 30px 50px;
    overflow: scroll;
    width:auto; 
    height: 600px;
    overflow-x:hidden;
}
