<div class="container afn" id="alfyn">
    <div class="alfyn">
        <tr>
            <td class="tvr">
                <h6>Alfyn Greengrass／亞芬．古林格拉斯</h6>
            </td>
        </tr>
        <tr>
            <td class="tvr"><span>職業:藥師</span><br></td>
        </tr>
        <tr>
            <td class="tvr"><span>CV:關智一</span><br></td>
        </tr><br>
    </div>
    <div style="float:left;margin-top:100px;">
        <img id="hover1" src="./images/traveler/alfyn_page.jpg" height="350" width="auto"
            style="border-radius: 60%/40%">
    </div><br>
    <div style="float:right;margin-bottom:15px">
        <h2>職業技能</h2>
        <h6>除了恢復、復活效果的技能之外，都只能在戰鬥中使用</h6>
        <table border="1" style="margin: 5px;background-color: cornsilk;border-radius: 5px;">
            <tr style="text-align: center">
                <th>技能名稱</th>
                <th>技能說明(日)</th>
                <th>技能說明(中)</th>
            </tr>
            <tr>
                <th>
                    応急手当／急救措施
                    <div class="skill_img">
                        <img id="alfyn_sk_1" src="./images/traveler/alfyn_sk_1.png" width="50px" height="50"
                            style="margin: 5px;">
                    </div>
                </th>
                <td class="tvr">
                    味方単体にHP回復の効果を与える
                </td>
                <td class="tvr">
                    使一位友方恢復HP
                </td>
            </tr>
            <tr>
                <th>
                    氷柱／冰柱
                    <div class="skill_img">
                        <img id="alfyn_sk_1" src="./images/traveler/alfyn_sk_2.png" width="50px" height="50"
                            style="margin: 5px;">
                    </div>
                </th>
                <td class="tvr">敵単体に氷属性のダメージを与える</td>
                <td class="tvr">給予單一敵人「冰屬性」的傷害</td>
            </tr>
            <tr>
                <th>健全化／健全化</th>
                <td class="tvr">味方単体に状態異常無効の効果を2ターン付与</td>
                <td class="tvr">給予一位友方2回合「異常狀態無效」的效果</td>
            </tr>
            <tr>
                <th>大切断／大切斷</th>
                <td class="tvr">敵単体に斧でダメージを与える</td>
                <td class="tvr">給予單一敵人「斧」的傷害</td>
            </tr>
            <tr>
                <th> 毒処方／毒處方 </th>
                <td class="tvr"> 敵単体に毒の効果を2ターン付与 </td>
                <td class="tvr"> 給予單一敵人2回合「毒」的效果 </td>
            </tr>
            <tr>
                <th> 復活手当／復活措施 </th>
                <td class="tvr"> 味方単体を復活させる </td>
                <td class="tvr"> 使一位友方復活 </td>
            </tr>
            <tr>
                <th> 死中活擊断／死中活擊斷 </th>
                <td class="tvr"> 敵全体に斧でダメージを与える。自身の残りHPが低いほど大ダメージ </td>
                <td class="tvr"> 給予敵方全體「斧」的傷害。自己剩下的HP越低傷害就越高 </td>
            </tr>
            <tr>
                <th> 霊薬公ドーターの恩恵／<br> 靈藥公杜塔的恩惠 </th>
                <td class="tvr"> 奥義。味方単体に、アイテムの効力を全体化する効果を3ターン付与 </td>
                <td class="tvr"> 奧義。使一位友方在3回合期間內獲得「單一對象的道具的效力變為全體化」的效果。 </td>
            </tr>
        </table>

    </div>
    <div style="float: left;">
        <h2>輔助技能</h2>
        <h6>需要在選單畫面中對角色裝備才能夠發起作用</h6>
        <table border="1" style="margin: 5px;background-color: cornsilk;border-radius: 5px;">
            <tr style="text-align: center">
                <th>技能名稱</th>
                <th>技能說明</th>
                <th>獲得條件</th>
            </tr>
            <tr>
                <th>
                    たたかうでSP回復／戰鬥後使SP回復
                </th>
                <td class="tvr">
                    使用「戰鬥」進行攻擊時，恢復該傷害1%值的SP
                </td>
                <td class="tvr">
                    當學習了四項藥師的技能後便能獲得。
                </td>
            </tr>
            <tr>
                <th>
                    最大HP+500／最大HP+500
                </th>
                <td class="tvr">HP上限提升500點</td>
                <td class="tvr">當學習了五項藥師的技能後便能獲得。</td>
            </tr>
            <tr>
                <th>状態異常回避アップ／異常狀態迴避率提升</th>
                <td class="tvr">裝備者不容易陷入毒、睡眠、混亂、黑暗、沉默、恐怖、昏迷等狀態</td>
                <td class="tvr">當學習了六項藥師的技能後便能獲得。</td>
            </tr>
            <tr>
                <th>回復効果アップ／恢復效果提升</th>
                <td class="tvr">裝備者的HP跟SP受到回復效果時，其回復量提升30%</td>
                <td class="tvr">當學習了七項藥師的技能後便能獲得。</td>
            </tr>
        </table>
        <a href="./#tabs-2" style="float: right;background-color:rgb(92, 66, 39);margin:10px">
            <img class="btn_back" src="./images/btn_back.png" width="70px">
        </a>
    </div>

</div>