<div class="container afn" id="cyrus">
    <div class="alfyn">
        <tr>
            <td class="tvr">
                <h6>Cyrus Albright／賽勒斯．奧布萊德</h6>
            </td>
        </tr>
        <tr>
            <td class="tvr"><span>職業:學者</span><br></td>
        </tr>
        <tr>
            <td class="tvr"><span>CV:梅原裕一郎</span><br></td>
        </tr><br>
    </div>
    <div style="float:left;margin-top:100px">
        <img id="hover1" src="./images/traveler/cyrus_page.jpg" height="350" width="auto"
            style="border-radius: 60%/40%">
    </div><br>
    <div style="float:left;margin-bottom:15px">
        <h2>職業技能</h2>
        <h6>除了恢復、復活效果的技能之外，都只能在戰鬥中使用</h6>
        <table border="1" style="margin: 5px;background-color: cornsilk;border-radius: 5px;">
            <tr style="text-align: center">
                <th>技能名稱</th>
                <th>技能說明(日)</th>
                <th>技能說明(中)</th>
            </tr>
            <tr>
                <th>
                    火炎魔法／火焰魔法

                </th>
                <td class="tvr">
                    敵全体に火属性のダメージを与える
                </td>
                <td class="tvr">
                    給予敵方全體「火屬性」的傷害

                </td>
            </tr>
            <tr>
                <th>
                    氷結魔法／凍結魔法

                </th>
                <td class="tvr">敵全体に氷属性のダメージを与える</td>
                <td class="tvr">給予敵方全體「冰屬性」的傷害</td>
            </tr>
            <tr>
                <th>雷撃魔法／雷擊魔法</th>
                <td class="tvr">敵全体に雷属性のダメージを与える</td>
                <td class="tvr">給予敵方全體「雷屬性」的傷害</td>
            </tr>
            <tr>
                <th>しらべる／調查</th>
                <td class="tvr">敵単体の弱点を1つ発見し、HPを表示する</td>
                <td class="tvr">發現單一敵人的1項弱點，並且顯示該目標的HP</td>
            </tr>
            <tr>
                <th>大火炎魔法／大火焰魔法 </th>
                <td class="tvr"> 敵全体に火属性のダメージを2回与える </td>
                <td class="tvr"> 給予敵方全體2次「火屬性」的傷害 </td>
            </tr>
            <tr>
                <th> 大氷結魔法／大凍結魔法 </th>
                <td class="tvr"> 敵全体に氷属性のダメージを2回与える </td>
                <td class="tvr"> 給予敵方全體2次「冰屬性」的傷害 </td>
            </tr>
            <tr>
                <th> 大雷撃魔法／大雷擊魔法</th>
                <td class="tvr"> 敵全体に雷属性のダメージを2回与える </td>
                <td class="tvr"> 給予敵方全體2次「雷屬性」的傷害 </td>
            </tr>
            <tr>
                <th> 碩学王アレファンの知識／<br> 碩學王亞雷法的知識 </th>
                <td class="tvr"> 奥義。味方単体に、魔法が単体化し威力が上がる効果を3ターン付与 </td>
                <td class="tvr"> 奧義。給予一位友方3回合「魔法變為單體化且提升威力」的效果 </td>
            </tr>
        </table>        
    </div>
    <div style="float: left;">
            <h2>輔助技能</h2>
            <h6>需要在選單畫面中對角色裝備才能夠發起作用</h6>
            <table border="1" style="margin: 5px;background-color: cornsilk;border-radius: 5px;">
                <tr style="text-align: center">
                    <th>技能名稱</th>
                    <th>技能說明</th>
                    <th>獲得條件</th>
                </tr>
                <tr>
                    <th>
                            エンカウント半減／遇敵步數減半
                    </th>
                    <td class="tvr">
                            將遇敵的機率減少
                    </td>
                    <td class="tvr">
                        當學習了四項學者的技能後便能獲得。
                    </td>
                </tr>
                <tr>
                    <th>
                            属性攻撃力+50／屬性攻擊力+50
                    </th>
                    <td class="tvr">屬性攻擊力提升50點</td>
                    <td class="tvr">當學習了五項學者的技能後便能獲得。</td>
                </tr>
                <tr>
                    <th>不意打ち回避／迴避偷襲</th>
                    <td class="tvr">遭遇到戰鬥時不會被偷襲</td>
                    <td class="tvr">當學習了六項學者的技能後便能獲得。</td>
                </tr>
                <tr>
                    <th>HP自動回復／HP自動恢復</th>
                    <td class="tvr">裝備者的HP每回合都會恢復</td>
                    <td class="tvr">當學習了七項學者的技能後便能獲得。</td>
                </tr>
            </table>
            <a href="./#tabs-2" style="float: right;background-color:rgb(92, 66, 39);margin:10px">
                <img class="btn_back" src="./images/btn_back.png" width="70px">
            </a>
        </div>
</div>