<div class="container afn" id="haanit">
    <div class="alfyn">
        <tr>
            <td class="tvr">
                <h6>H'aanit／海茵特</h6>
            </td>
        </tr>
        <tr>
            <td class="tvr"><span>職業:獵人</span><br></td>
        </tr>
        <tr>
            <td class="tvr"><span>CV:甲斐田裕子</span><br></td>
        </tr><br>
    </div>
    <div style="float:left;margin-top:100px">
        <img id="hover1" src="./images/traveler/haanit_page.jpg" height="350" width="auto"
            style="border-radius: 60%/40%">
    </div><br>
    <div style="float:left;margin-bottom: 15px;">
        <h2>職業技能</h2>
        <h6>除了恢復、復活效果的技能之外，都只能在戰鬥中使用</h6>
        <table border="1" style="margin: 5px;background-color: cornsilk;border-radius: 5px;">
            <tr style="text-align: center">
                <th>技能名稱</th>
                <th>技能說明(日)</th>
                <th>技能說明(中)</th>
            </tr>
            <tr>
                <th> さみだれ矢／細雨箭 </th>
                <td class="tvr"> ランダムなターゲットに弓の攻撃を5〜8回行う </td>
                <td class="tvr"> 以「弓」對隨機目標進行5～8次的攻擊 </td>
            </tr>
            <tr>
                <th>
                    会心の矢／致命之箭

                </th>
                <td class="tvr">敵単体に弓でクリティカルダメージを与える</td>
                <td class="tvr">給予單一敵人「弓」的爆擊傷害</td>
            </tr>
            <tr>
                <th>雷鳥／雷鳥</th>
                <td class="tvr">敵単体に雷属性のダメージを与える</td>
                <td class="tvr">給予單一敵人「雷屬性」的傷害</td>
            </tr>
            <tr>
                <th>ねんちゃく糸／黏性線</th>
                <td class="tvr">敵単体に行動順が最後になる効果を2ターン付与</td>
                <td class="tvr">給予單一敵人2回合「最後行動」的效果</td>
            </tr>
            <tr>
                <th>すん止め／點到為止 </th>
                <td class="tvr"> 敵単体に弓でダメージを与える。なお、敵のHPは必ず1残る </td>
                <td class="tvr"> 給予單一敵人「弓」的傷害。此外，該敵人的HP必定剩下1點 </td>
            </tr>
            <tr>
                <th> どしゃぶり矢／豪雨箭 </th>
                <td class="tvr"> 敵全体に弓でダメージを5〜8与える </td>
                <td class="tvr"> 給予敵方全體5~8次「弓」的傷害 </td>
            </tr>
            <tr>
                <th> ターゲット／鎖定目標</th>
                <td class="tvr"> 味方全体にクリティカルと命中アップの効果を2ターン付与 </td>
                <td class="tvr"> 給予全部友方2回合「爆擊率與命中率提升」的效果 </td>
            </tr>
            <tr>
                <th> 狩王女ドレファンドの猛追／<br> 獵王女朵磊法多的追擊 </th>
                <td class="tvr"> 奥義。敵全体に弓で特大ダメージを与える </td>
                <td class="tvr"> 奧義。給予敵方全體「弓」的特大傷害 </td>
            </tr>
        </table>       
    </div>
    <div style="float: left;">
            <h2>輔助技能</h2>
            <h6>需要在選單畫面中對角色裝備才能夠發起作用</h6>
            <table border="1" style="margin: 5px;background-color: cornsilk;border-radius: 5px;">
                <tr style="text-align: center">
                    <th>技能名稱</th>
                    <th>技能說明</th>
                    <th>獲得條件</th>
                </tr>
                <tr>
                    <th>
                            クリティカル+50／爆擊率提升50點
                    </th>
                    <td class="tvr">
                            提升50點爆擊率
                    </td>
                    <td class="tvr">
                        當學習了四項獵人的技能後便能獲得。
                    </td>
                </tr>
                <tr>
                    <th>
                            先制攻撃確率アップ／提升先攻的機率
                    </th>
                    <td class="tvr">將取得先機的機率提升</td>
                    <td class="tvr">當學習了五項獵人的技能後便能獲得。</td>
                </tr>
                <tr>
                    <th>おかわり／二次攻擊</th>
                    <td class="tvr">裝備者以「戰鬥」進行攻擊時，有50%的機率再進行一次攻擊</td>
                    <td class="tvr">當學習了六項獵人的技能後便能獲得。</td>
                </tr>
                <tr>
                    <th>ラストアクト／最後行動</th>
                    <td class="tvr">裝備者的回合輪結束時，有25%的機率能夠再行動一次</td>
                    <td class="tvr">當學習了七項獵人的技能後便能獲得。</td>
                </tr>
            </table>
            <a href="./#tabs-2" style="float: right;background-color:rgb(92, 66, 39);margin:10px">
                <img class="btn_back" src="./images/btn_back.png" width="70px">
            </a>
        </div>
</div>