
        <!--tabs-header-->
        <div id="tabs" class="selector container">
            <ul>
                <li>
                    <a href="#tabs-1">
                        <img id="hover1" src="./images/nav_01.png" height="74" width="106">
                    </a>
                </li>
                <li>
                    <a href="#tabs-2">
                        <img id="hover2" src="./images/nav_02.png" height="74" width="106">
                    </a>
                </li>
                <li>
                    <a href="#tabs-3">
                        <img id="hover3" src="./images/nav_04.png" height="74" width="106">
                    </a>
                </li>
            </ul>
            <!--tabs-1-about-->
            <div class="container" id="tabs-1">
                <p>
                    主角們的冒險，即將揭開序幕…<br>
                    八位主角，八個冒險。
                </p>
                <p>
                    在奧魯斯特拉大陸，擁有不同能力的八位主角正展開一場新的冒險。<br>

                    玩家將成為其中一位主角，運用各自的技能，開始探索旅程，與敵人對戰。<br>
                    成為商人亦或討伐叛徒的戰士，想去哪裡、和誰結成盟友，全部由玩家選擇。<br>
                    舞孃的魅力引誘追求者們互相對戰，藥師既能調製治療盟友的道具，也能製出爆炸攻擊。</p>
                <p>旅路上每一個路口、每一個選擇，都引領旅人經歷獨一無二的冒險，往哪方，由你掌握。</p>
                <p>
                    『OCTOPATH TRAVELER』免費體驗版　公開下載中<br>
                    *日文/英文免費體驗版的遊戲數據只能傳到日文/英文完整版
                </p>
                <p>
                    立即下載，展開旅程－
                </p>
                <table>
                    <a href="https://www.nintendo.tw/switch/octopath_traveler/">
                        <h6>Go to Nintendo Shop</h6>
                        <img id="goshop" src="./images/nintendo.png" height="90" width="auto">
                    </a>
                </table>
            </div>
            <!--tabs-2-traveler-->

            <div class="container tabs_traveler" id="tabs-2">

                <!--tabs-tr1-->
                <table border="1" style="align-content: center">
                    <tr>
                        <td>
                            <div>
                                <div style="text-align: center" id="traveler_alfyn">
                                    <h6>Alfyn Greengrass／</h6>
                                    <h6>亞芬．古林格拉斯</h6>
                                    <span>職業:藥師</span><br>
                                    <span>CV:關智一</span><br>
                                    <img src="./images/traveler/alfyn_icon.jpg" height="200" width="auto"
                                        style="border-radius:50%/10%">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="tvr" id="traveler_cyrus">
                                    <h6>Cyrus Albright／</h6>
                                    <h6>賽勒斯．奧布萊德</h6>
                                    <span>職業:學者</span><br>
                                    <span>CV:梅原裕一郎</span><br>
                                    <img src="./images/traveler/cyrus_icon.jpg" height="200" width="auto"
                                        style="border-radius:50%/10%">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="tvr" id="traveler_haanit">
                                    <h6>H'aanit／</h6>
                                    <h6>海茵特</h6>
                                    <span>職業:獵人</span><br>
                                    <span>CV:甲斐田裕子</span><br>
                                    <img src="./images/traveler/haanit_icon.jpg" height="200" width="auto"
                                        style="border-radius:50%/10%">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="tvr" id="traveler_olberic">
                                    <h6>Olberic Eisenberg／</h6>
                                    <h6>奧伯克．艾森博克</h6>
                                    <span>職業:劍士</span><br>
                                    <span>CV:小西克幸</span><br>
                                    <img src="./images/traveler/olberic_icon.jpg" height="200" width="auto"
                                        style="border-radius:50%/10%">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!--tabs tr2-->
                    <tr>
                        <td>
                            <div>
                                <div class="tvr" id="traveler_ophilia">
                                    <h6>Ophilia Clement／</h6>
                                    <h6>奧菲莉亞．克萊門特</h6>
                                    <span>職業:神官</span><br>
                                    <span>CV:茅野愛衣</span><br>
                                    <img src="./images/traveler/ophilia_icon.jpg" height="200" width="auto"
                                        style="border-radius:50%/10%">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="tvr" id="traveler_primrose">
                                    <h6>Primrose Azelhart／</h6>
                                    <h6>派姆蘿絲．艾捷哈特</h6>
                                    <span>職業:舞者</span><br>
                                    <span>CV:桑島法子</span><br>
                                    <img src="./images/traveler/primrose_icon.jpg" height="200" width="auto"
                                        style="border-radius:50%/10%">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="tvr" id="traveler_therion">
                                    <h6>Therion／</h6>
                                    <h6>泰利昂</h6>
                                    <span>職業:盜賊</span><br>
                                    <span>CV:松岡禎丞</span><br>
                                    <img src="./images/traveler/therion_icon.jpg" height="200" width="auto"
                                        style="border-radius:50%/10%">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="tvr" id="traveler_tressa">
                                    <h6>Tressa Colozone／</h6>
                                    <h6>泰瑞莎．可洛鍾</h6>
                                    <span>職業:商人</span><br>
                                    <span>CV:青木瑠璃子</span><br>
                                    <img src="./images/traveler/tressa_icon.jpg" height="200" width="auto"
                                        style="border-radius:50%/10%">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!--traveler alfyn-->
            <div class="container afn" id="alfyn">
                <div class="alfyn">
                    <tr>
                        <td class="tvr">
                            <h6>Alfyn Greengrass／亞芬．古林格拉斯</h6>
                        </td>
                    </tr>
                    <tr>
                        <td class="tvr"><span>職業:藥師</span><br></td>
                    </tr>
                    <tr>
                        <td class="tvr"><span>CV:關智一</span><br></td>
                    </tr><br>
                </div>
                <div style="float:left;">
                    <img id="hover1" src="./images/traveler/alfyn_page.jpg" height="350" width="auto"
                        style="border-radius: 60%/40%">
                </div><br>
                <div style="float:left;">
                    <h2>職業技能</h2>
                    <table border="1" style="margin: 5px;background-color: cornsilk;border-radius: 5px;">
                        <tr>
                            <th>
                                応急手当／急救措施
                                <div class="skill_img">
                                    <img id="alfyn_sk_1" src="./images/traveler/alfyn_sk_1.png" width="50px" height="50"
                                        style="margin: 5px;">
                                </div>
                            </th>
                            <td class="tvr">
                                味方単体にHP回復の効果を与える
                            </td>
                            <td class="tvr">
                                使一位友方恢復HP
                            </td>
                        </tr>
                        <tr>
                            <th>
                                氷柱／冰柱
                                <div class="skill_img">
                                    <img id="alfyn_sk_1" src="./images/traveler/alfyn_sk_2.png" width="50px" height="50"
                                        style="margin: 5px;">
                                </div>
                            </th>
                            <td class="tvr">敵単体に氷属性のダメージを与える</td>
                            <td class="tvr">給予單一敵人「冰屬性」的傷害</td>
                        </tr>
                        <tr>
                            <th>健全化／健全化</th>
                            <td class="tvr">味方単体に状態異常無効の効果を2ターン付与</td>
                            <td class="tvr">給予一位友方2回合「異常狀態無效」的效果</td>
                        </tr>
                        <tr>
                            <th>大切断／大切斷</th>
                            <td class="tvr">敵単体に斧でダメージを与える</td>
                            <td class="tvr">給予單一敵人「斧」的傷害</td>
                        </tr>
                        <tr>
                            <th> 毒処方／毒處方 </th>
                            <td class="tvr"> 敵単体に毒の効果を2ターン付与 </td>
                            <td class="tvr"> 給予單一敵人2回合「毒」的效果 </td>
                        </tr>
                        <tr>
                            <th> 復活手当／復活措施 </th>
                            <td class="tvr"> 味方単体を復活させる </td>
                            <td class="tvr"> 使一位友方復活 </td>
                        </tr>
                        <tr>
                            <th> 死中活擊断／死中活擊斷 </th>
                            <td class="tvr"> 敵全体に斧でダメージを与える。自身の残りHPが低いほど大ダメージ </td>
                            <td class="tvr"> 給予敵方全體「斧」的傷害。自己剩下的HP越低傷害就越高 </td>
                        </tr>
                        <tr>
                            <th> 霊薬公ドーターの恩恵／<br> 靈藥公杜塔的恩惠 </th>
                            <td class="tvr"> 奥義。味方単体に、アイテムの効力を全体化する効果を3ターン付与 </td>
                            <td class="tvr"> 奧義。使一位友方在3回合期間內獲得「單一對象的道具的效力變為全體化」的效果。 </td>
                        </tr>
                    </table>
                    <a href="./#tabs-2" style="float: right;background-color:rgb(92, 66, 39);margin:10px">
                        <img id="btn_back" src="./images/btn_back.png" width="70px">
                    </a>
                </div>
            </div>


            <!--tabs-3-spec-->

            <div class="container" id="tabs-3">
                <h2>遊戲畫面</h2>
                <div class="slider">
                    <img src="./images/randomimg/001.png" alt="" width="600" height="350">
                    <img src="./images/randomimg/002.png" alt="" width="600" height="350">
                    <img src="./images/randomimg/003.png" alt="" width="600" height="350">
                </div>
            </div>



        </div>
    </header>
