
    <div class="container tabs_traveler" id="tabs-2">

        <!--tabs-tr1-->
        <table border="1" style="align-content: center">
            <tr>
                <td>
                    <div>
                        <div class="tvr" id="traveler_alfyn">
                            <h6>Alfyn Greengrass／</h6>
                            <h6>亞芬．古林格拉斯</h6>
                            <span>職業:藥師</span><br>
                            <span>CV:關智一</span><br>
                            <img src="./images/traveler/alfyn_icon.jpg" height="200" width="auto"
                                style="border-radius:50%/10%">
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="tvr" id="traveler_cyrus" >
                            <h6>Cyrus Albright／</h6>
                            <h6>賽勒斯．奧布萊德</h6>
                            <span>職業:學者</span><br>
                            <span>CV:梅原裕一郎</span><br>
                            <img src="./images/traveler/cyrus_icon.jpg" height="200" width="auto"
                                style="border-radius:50%/10%">
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="tvr" id="traveler_haanit">
                            <h6>H'aanit／</h6>
                            <h6>海茵特</h6>
                            <span>職業:獵人</span><br>
                            <span>CV:甲斐田裕子</span><br>
                            <img src="./images/traveler/haanit_icon.jpg" height="200" width="auto"
                                style="border-radius:50%/10%">
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="tvr" id="traveler_olberic">
                            <h6>Olberic Eisenberg／</h6>
                            <h6>奧伯克．艾森博克</h6>
                            <span>職業:劍士</span><br>
                            <span>CV:小西克幸</span><br>
                            <img src="./images/traveler/olberic_icon.jpg" height="200" width="auto"
                                style="border-radius:50%/10%">
                        </div>
                    </div>
                </td>
            </tr>
            <!--tabs tr2-->
            <tr>
                <td>
                    <div>
                        <div class="tvr" id="traveler_ophilia">
                            <h6>Ophilia Clement／</h6>
                            <h6>奧菲莉亞．克萊門特</h6>
                            <span>職業:神官</span><br>
                            <span>CV:茅野愛衣</span><br>
                            <img src="./images/traveler/ophilia_icon.jpg" height="200" width="auto"
                                style="border-radius:50%/10%">
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="tvr" id="traveler_primrose">
                            <h6>Primrose Azelhart／</h6>
                            <h6>派姆蘿絲．艾捷哈特</h6>
                            <span>職業:舞者</span><br>
                            <span>CV:桑島法子</span><br>
                            <img src="./images/traveler/primrose_icon.jpg" height="200" width="auto"
                                style="border-radius:50%/10%">
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="tvr" id="traveler_therion">
                            <h6>Therion／</h6>
                            <h6>泰利昂</h6>
                            <span>職業:盜賊</span><br>
                            <span>CV:松岡禎丞</span><br>
                            <img src="./images/traveler/therion_icon.jpg" height="200" width="auto"
                                style="border-radius:50%/10%">
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="tvr" id="traveler_tressa">
                            <h6>Tressa Colozone／</h6>
                            <h6>泰瑞莎．可洛鍾</h6>
                            <span>職業:商人</span><br>
                            <span>CV:青木瑠璃子</span><br>
                            <img src="./images/traveler/tressa_icon.jpg" height="200" width="auto"
                                style="border-radius:50%/10%">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>