<!--tabs-header-->
<div id="tabs" class="selector container">
    <ul>
        <li>
            <a href="#tabs-1">
                <img id="hover1" src="./images/nav_01.png" height="74" width="106">
            </a>
        </li>
        <li>
            <a href="#tabs-2">
                <img id="hover2" src="./images/nav_02.png" height="74" width="106">
            </a>
        </li>
        <li>
            <a href="#tabs-3">
                <img id="hover3" src="./images/nav_04.png" height="74" width="106">
            </a>
        </li>
    </ul>
    <!--tabs-1-about-->
    <div class="container" id="tabs-1" style="justify-content: center;display:block">
        <p>
            主角們的冒險，即將揭開序幕…<br>
            八位主角，八個冒險。
        </p>
        <p>
            在奧魯斯特拉大陸，擁有不同能力的八位主角正展開一場新的冒險。<br>

            玩家將成為其中一位主角，運用各自的技能，開始探索旅程，與敵人對戰。<br>
            成為商人亦或討伐叛徒的戰士，想去哪裡、和誰結成盟友，全部由玩家選擇。<br>
            舞孃的魅力引誘追求者們互相對戰，藥師既能調製治療盟友的道具，也能製出爆炸攻擊。</p>
        <p>旅路上每一個路口、每一個選擇，都引領旅人經歷獨一無二的冒險，往哪方，由你掌握。</p>
        <p>
            『OCTOPATH TRAVELER』免費體驗版　公開下載中<br>
            *日文/英文免費體驗版的遊戲數據只能傳到日文/英文完整版
        </p>
        <p>
            立即下載，展開旅程－
        </p>
        <table>
            <a href="https://www.nintendo.tw/switch/octopath_traveler/">
                <h6>Go to Nintendo Shop</h6>
                <img id="goshop" src="./images/nintendo.png" height="90" width="auto">
            </a>
        </table>       
    </div>
    <!--tabs-2-traveler-->

    <!--traveler alfyn-->
    


    <!--tabs-3-spec-->

    