<div class="container" id="tabs-3" style="justify-content: center;">
    <div>
        <h2 style="text-align: center">遊戲畫面</h2>
    </div>
    <div class="slider" style="cursor:pointer">
        <img src="./images/randomimg/001.png" alt="遊戲畫面_001" width="800" height="500">
        <img src="./images/randomimg/002.png" alt="遊戲畫面_002" width="800" height="500">
        <img src="./images/randomimg/003.png" alt="遊戲畫面_003" width="800" height="500">
        <img src="./images/randomimg/004.png" alt="遊戲畫面_004" width="800" height="500">
        <img src="./images/randomimg/005.png" alt="遊戲畫面_005" width="800" height="500">

    </div>
</div>



</div>
</header>